header {
    padding-top: 200px;
    padding-bottom: 400px;
    background-image: url(microplastics.jpg);
    display:block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: aliceblue;
    border-width: 40px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

.yellowbox {
    background-color: rgb(103, 148, 199);
    position: absolute;
    height: 200px;
    width: 1456px;
    top: 690px;
    z-index: -1;
}

.title {
    
    font-size: 50px;
    margin-top: 100px;
    margin-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #ffffff;
}
.title:hover {
    color: #eaeaff;
    text-shadow: 2px 2px 4px #12183661;
    transform: scale(1.1);
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/* The code below adds a white background-color and black text color for the body of the page. */
body {
    background-color: rgb(124, 150, 180);
    /**/background-image: linear-gradient(135deg, rgb(64, 87, 126), rgb(29, 40, 59));
    color: rgb(37, 37, 41);
    display: block;
}

/* The code below adds a black background-color and white text color for each section heading. */

h2 {
    color:rgb(255, 255, 255);
    margin-top: 1000px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(44, 49, 71);
    font-size: 50px;
    
}
/* this is for if you want to change individual headers
.header1 {
    color:white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(32, 18, 109);
    font-size: 50px;
    
}

.header2 {
    color:white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(32, 18, 109);
    font-size: 50px;
}

.header3 {
    color:white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(32, 18, 109);
    font-size: 50px;
}*/
