* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    z-index: 2;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    background-color:rgb(50, 59, 75);
    position: fixed;
}

li {
    text-align: center;
    width: 2;
    border: 0.5vh solid #5d5777;
    background:#3f3a55;
    padding: 2vh 10vw;
    border-radius: 5px;
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
li a {
    text-decoration: none;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}
li:hover {
    transform: scale(1.05);
    background:#c9c747;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

header {
    padding-top: 30vh;
    padding-bottom: 50vh;
    background-image: url(microplastics.jpg);
    display:block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: aliceblue;
    border-width: 40px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

.yellowbox {
    background-color: rgb(103, 148, 199);
    background-image: linear-gradient(180deg, rgb(103, 148, 199), rgb(73, 85, 107));
    position: absolute;
    height: 120vh;
    width: 100vw;
    top: 1.05vh;
    z-index: -1;
}

.calltoaction {
    position: absolute;
    margin-top: 10vh;
    width: 100vw;
    padding: 5vh;
    background-color: rgb(52, 58, 82);
    color: aliceblue;
    text-align: center;
    border-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 2000;
    font-size: 1.5rem;
}

.title {
    
    font-size: 5rem;
    margin-top: 100px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #fdfdff;
    text-shadow: 10px 10px 10px #00000061;
    background-color: rgb(44, 49, 71);
    padding: 20px;
    clip-path: ellipse(40% 100% at center);
}
.title:hover {
    color: #f4ff59;
    text-shadow: 30px 30px 30px #12183661;
    transform: scale(1.1);
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/* The code below adds a white background-color and black text color for the body of the page. */
body {
    background-color: rgb(124, 150, 180);
    /**/background-image: linear-gradient(135deg, rgb(64, 87, 126), rgb(29, 40, 59));
    color: rgb(37, 37, 41);
    display: block;
}
/* The code below adds a black background-color and white text color for each section heading. */
h2 {
    color:rgb(255, 255, 255);
    margin-top: 1000px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(44, 49, 71);
    font-size: 4rem;
    
}
/* this is for if you want to change individual headers
.header1 {
    color:white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(32, 18, 109);
    font-size: 50px;
    
}

.header2 {
    color:white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(32, 18, 109);
    font-size: 50px;
}

.header3 {
    color:white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(32, 18, 109);
    font-size: 50px;
}*/
